.search-bar-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-bar {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar img {
  width: 50px;
  height: 50px;
  margin: 10px;
  filter: brightness(0) saturate(100%) invert(75%) sepia(5%) saturate(10%) hue-rotate(0deg) brightness(90%) contrast(90%);
}

.search-bar input {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  background: transparent;
  outline: none;
  color: white;
}

.search-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  list-style-type: none;
  margin-top: 5px;
  gap: 10px;
  text-align: left;
}

.search-results {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-self: center;
}

.search-results:hover {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .search-bar-container {
    width: 95%;
  }

  .search-bar {
    height: 8vh;
    padding: 8px;
  }
  .search-bar img {
    width: 50px;
    height: 50px;
  }
  .search-bar input {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .search-bar-container {
    width: 95%;
  }
  .search-bar {
    flex-direction: row;
    height: 6vh;
    padding: 6px;
  }
  .search-bar img {
    width: 40px;
    height: 40px;
  }
  .search-bar input {
    font-size: 1rem;
  }
}