.header-bar-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.header-bar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
}

.header-bar a {
  display: flex;
  margin-right: 20px;
}

.header-bar img {
  width: 50px;
  height: 50px;
}

.left-icons {
  display: flex;
  gap: 10px;
}
.left-icons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.left-icons button:hover {
  scale: calc(1.1);
}

.left-icons button:focus {
  outline: none;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.title .logo {
  width: 70px;
  height: 70px;
}

.perfil {
  margin-left: auto;
}

.perfil:hover {
  scale: calc(1.1);
}
