.header-bar-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  min-height: 80px;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.header-bar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
}

.header-bar a {
  display: flex;
  margin-right: 20px;
}

.header-bar img {
  width: 50px;
  height: 50px;
}

.left-icons {
  display: flex;
  gap: 10px;
}
.left-icons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0%;
}

.left-icons button:hover {
  scale: calc(1.1);
}

.left-icons button:focus {
  outline: none;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}
.title .logo {
  width: 70px;
  height: 70px;
}

.perfil {
  margin-left: auto;
  padding: 0;
}

.perfil:hover {
  scale: calc(1.1);
}
@media (max-width: 768px) {
  .header-bar-container {
    width: 95%;
  }

  .header-bar {
    height: 8vh;
    padding: 8px;
  }

  .title {
    font-size: 16px;
  }

  .left-icons {
    gap: 8px;
    padding: 0%;
  }

  .left-icons button {
    scale: 0.8;
  }

  .perfil {
    scale: 0.8;
  }
}

@media (max-width: 480px) {
  .header-bar-container {
    width: 95%;
  }
  .header-bar {
    flex-direction: row;
    height: 6vh;
    padding: 6px;
  }
  .title h1 {
    font-size: 0.5;
  }
  .title .logo {
    width: 50px;
    height: 50px;
  }
  .left-icons button {
    scale: 0.6;
  }
  .perfil {
    scale: 0.6;
  }
}
