.whizz-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between
}

.whizz-form textarea {
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  width: 100%;
  min-height: 120px;
  margin-bottom: 1rem;
  resize: none;
  flex-grow: 1;
}

.whizz-form textarea:focus {
  outline: none;
}

.whizz-form .media-container {
  display: flex;
  height: auto;
  width: 100%;
}

.whizz-form .buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.whizz-form .image-input {
  display: none;
}

.whizz-form .video-input {
  display: none;
}

.whizz-form img {
  width: 50px;
  height: 50px;
}

.whizz-form img:hover {
  scale: calc(1.1);
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(59%) sepia(83%) saturate(2612%) hue-rotate(172deg) brightness(97%) contrast(96%);
}

.whizz-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quoted-whizz-container {
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  font-size: 14px;
  min-width: 300px;
}

.quoted-user {
  font-weight: bold;
  color: #1da1f2;
}

.quoted-content {
  font-style: italic;
  color: white;
}

.whizz-form button:hover {
  filter: brightness(0) saturate(100%) invert(59%) sepia(83%) saturate(2612%) hue-rotate(172deg) brightness(97%) contrast(96%);
}

@media (max-width: 600px) {
  .whizz-form {
    padding: 1rem;
    border-radius: 20px;
  }

  .whizz-form textarea {
    min-height: 100px;
  }

  .whizz-form img {
    width: 40px;
    height: 40px;
  }

  .whizz-form button {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}
