.whizz-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;
  min-height: 300px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between
}

.whizz-form textarea {
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  resize: none;
  flex-grow: 1;
}

.whizz-form textarea:focus {
  outline: none;
}

.whizz-form button {
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #11a4ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.whizz-form button:hover {
  background-color: #1295fd;
}