.whizzes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(60px + 10px);
  margin-bottom: calc(60px + 10px);
  /*margin-left: 5px;*/
  padding: 1rem;
  width: 98%;
}

.new-whizzes-btn {
  display: block;
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1d9bf0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 36px;
  cursor: pointer;
  align-self: center;
}

.ver-nuevos-btn:hover {
  background-color: #0d8ae5;
}